body {
    background-image: url("../assets/pokemon.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.containerLogin {
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 7em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

